<header>
    <div class="logo" routerLink="/">
        <img src="./assets/logo.png" alt="logo" />
    </div>

    <ngshop-products-search></ngshop-products-search>

    <nav>
        <ul>
            <li
                routerLink="/"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                Home
            </li>
            <li routerLink="/products" routerLinkActive="active">Products</li>
            <li routerLink="/contact" routerLinkActive="active">Contact</li>
        </ul>
    </nav>

    <div class="icons">
        <i class="pi pi-user"></i>
        <i class="pi pi-shopping-cart" (click)="isCartShown = true"
            ><span>{{ cartCount }}</span></i
        >

        <div
            class="cover"
            [ngClass]="{ open: isCartShown }"
            (click)="isCartShown = false"
        ></div>

        <orders-cart
            *ngIf="cart"
            [cart]="cart"
            [isCartShown]="isCartShown"
            [totalPrice]="totalPrice"
            (onCloseCart)="isCartShown = $event"
            (onCheckout)="navigateCheckout()"
        ></orders-cart>
    </div>
</header>
