<header *ngIf="cartCount !== null">
    <div class="logo" routerLink="/">
        <img src="./assets/logo.png" alt="logo" />
    </div>

    <ngshop-products-search></ngshop-products-search>

    <nav [ngClass]="{ navOpen: isNavShown }">
        <div
            (click)="isMenuShown = !isMenuShown"
            class="loggedInUser-mobile-tablet"
        >
            <p *ngIf="loggedInUser">{{ loggedInUser.name }}</p>

            <i class="pi pi-user">
                <ul *ngIf="isMenuShown" class="menu">
                    <li
                        (click)="
                            $event.stopPropagation();
                            isMenuShown = false;
                            isNavShown = false
                        "
                        *ngIf="!loggedInUser"
                        routerLink="/login"
                    >
                        Login
                    </li>
                    <li *ngIf="loggedInUser" (click)="logout($event)">
                        Logout
                    </li>
                </ul>
            </i>
        </div>

        <ul class="nav-tablet-mobile">
            <li
                (click)="isNavShown = false"
                routerLink="/"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                Home
            </li>
            <li
                (click)="isNavShown = false"
                routerLink="/products"
                routerLinkActive="active"
            >
                Products
            </li>
            <li
                (click)="isNavShown = false"
                routerLink="/contact"
                routerLinkActive="active"
            >
                Contact
            </li>
        </ul>

        <div
            class="cover"
            [ngClass]="{ open: isMenuShown }"
            (click)="isMenuShown = false"
        ></div>
    </nav>

    <div class="icons">
        <p *ngIf="loggedInUser">{{ loggedInUser.name }}</p>

        <i class="pi pi-user" (click)="isMenuShown = true">
            <ul *ngIf="isMenuShown" class="menu">
                <li
                    (click)="$event.stopPropagation(); isMenuShown = false"
                    *ngIf="!loggedInUser"
                    routerLink="/login"
                >
                    Login
                </li>
                <li *ngIf="loggedInUser" (click)="logout($event)">Logout</li>
            </ul>
        </i>

        <i class="pi pi-shopping-cart" (click)="isCartShown = true"
            ><span>{{ cartCount }}</span></i
        >

        <i (click)="isNavShown = true" class="pi pi-bars"></i>

        <div
            class="cover"
            [ngClass]="{ open: isCartShown || isMenuShown || isNavShown }"
            (click)="
                isCartShown = false; isMenuShown = false; isNavShown = false
            "
        ></div>

        <orders-cart
            *ngIf="cart"
            [cart]="cart"
            [isCartShown]="isCartShown"
            [totalPrice]="totalPrice"
            (onCloseCart)="isCartShown = $event"
            (onCheckout)="navigateCheckoutPage()"
        ></orders-cart>
    </div>
</header>
