<div class="admin-sidebar">
    <div class="logo-links-container">
        <div class="logo">
            <img src="./assets/logo.png" alt="logo" />
            <div class="extra"></div>
        </div>

        <div class="links">
            <ul>
                <li routerLink="/dashboard" routerLinkActive="active">
                    <a><i class="pi pi-home"></i>Dashboard</a>
                </li>
                <li routerLink="/products" routerLinkActive="active">
                    <a><i class="pi pi-briefcase"></i>Products</a>
                </li>
                <li routerLink="/categories" routerLinkActive="active">
                    <a><i class="pi pi-list"></i>Categories</a>
                </li>
                <li routerLink="/orders" routerLinkActive="active">
                    <a><i class="pi pi-shopping-cart"></i>Orders</a>
                </li>
                <li routerLink="/users" routerLinkActive="active">
                    <a><i class="pi pi-users"></i>Users</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="logout">
        <a><i class="pi pi-sign-out"></i>Logout</a>
    </div>
</div>
