.admin-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;

    .admin-sidebar {
        position: sticky;
        top: 0;
        left: 0;
        width: 175px;
        background-color: $backgroundColorDark2;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;

        .logo-links-container {
            display: flex;
            flex-direction: column;
            gap: 1.5em;

            .logo {
                display: flex;
                flex-direction: column;
                align-items: center;

                .extra {
                    background-color: #e31225;
                    height: 20px;
                    width: 100%;
                }
            }

            .links {
                padding-inline: 25px;

                ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    li {
                        width: fit-content;

                        &.active {
                            a {
                                color: red;
                            }
                        }

                        a {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            color: var(--surface-a);

                            &:hover {
                                cursor: pointer;
                                color: red;
                            }

                            i {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }

        .logout {
            padding-inline: 25px;
            margin-block-end: 25px;

            a {
                display: flex;
                align-items: center;
                gap: 10px;
                color: var(--surface-a);
                width: fit-content;

                &:hover {
                    cursor: pointer;
                    color: red;
                }

                i {
                    font-size: 20px;
                }
            }
        }
    }

    .admin-main {
        padding-block: 1.5em;
        display: grid;
        grid-template-columns: minmax(25px, 1fr) minmax(auto, 1200px) minmax(
                25px,
                1fr
            );

        router-outlet {
            display: none;
        }

        & > * {
            &.full {
                grid-column: 1/-1;
            }

            &:not(.full) {
                grid-column: 2;
            }
        }
    }
}
