.admin-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(25px, 1fr) minmax(auto, 1200px) minmax(
            25px,
            1fr
        );

    & > * {
        grid-column: 2;

        &.full {
            grid-column: 1/-1;
        }
    }

    @include respond-to('desktop') {
        grid-template-columns: auto 1fr;

        & > * {
            grid-column: unset;
        }
    }

    .admin-header-mobile-tablet-host {
        height: 60px;
        background-color: $primary-color;
        position: sticky;
        top: 0;

        @include respond-to('desktop') {
            display: none;
        }

        .admin-header-mobile-tablet {
            height: inherit;

            .inner-container {
                display: flex;
                align-items: center;
                gap: 1.5em;
                justify-content: space-between;
                height: 100%;

                .logo {
                    height: 100%;
                    display: flex;
                    align-items: center;

                    img {
                        height: 100%;
                        width: unset;
                    }
                }

                nav {
                    position: fixed;
                    right: 0;
                    top: 0;
                    z-index: 9999;
                    height: 100vh;
                    width: 200px;
                    background-color: $backgroundColorDark3;
                    translate: 100%;
                    transition: all 0.2s ease-in-out;
                    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-block-end: 2em;

                    &.navOpen {
                        translate: 0%;
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        margin-block-start: 5em;

                        li {
                            padding-inline-end: 1em;
                            padding-inline-start: 2.5em;
                            height: 45px;
                            display: flex;

                            &.active {
                                background-color: $primary-color;
                            }

                            a {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                gap: 0.8em;

                                i {
                                    font-size: 20px;
                                }
                            }
                        }
                    }

                    .logout {
                        height: 30px;
                        display: flex;
                        gap: 0.8em;
                        align-items: center;
                        padding-inline: 2.5em;
                    }
                }

                .cover {
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 999;
                    width: 100vw;
                    height: 100vh;
                    background-color: #0000005e;
                    transition: all 0.2s ease-in-out;
                    opacity: 0;
                    pointer-events: none;

                    &.coverOpen {
                        pointer-events: auto;
                        cursor: pointer;
                        opacity: 1;
                        cursor: pointer;
                    }
                }

                .icons {
                    i {
                        font-size: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .admin-sidebar-host {
        display: none;

        @include respond-to('desktop') {
            display: block;
        }
    }

    .admin-sidebar {
        @include respond-to('desktop') {
            position: sticky;
            top: 0;
            left: 0;
            width: 175px;
            background-color: $backgroundColorDark2;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
        }

        .logo-links-container {
            display: flex;
            flex-direction: column;
            gap: 1.5em;

            .logo {
                display: flex;
                flex-direction: column;
                align-items: center;

                .extra {
                    background-color: #e31225;
                    height: 20px;
                    width: 100%;
                }
            }

            .links {
                ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;

                    li {
                        width: fit-content;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        padding-inline-start: 25px;

                        &:hover {
                            cursor: pointer;

                            a {
                                color: red;
                                font-weight: 700;
                            }
                        }

                        &.active {
                            background-color: $backgroundColorDark3;

                            a {
                                color: red;
                                font-weight: 700;
                            }
                        }

                        a {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            color: var(--surface-a);
                            width: 100%;
                            height: 100%;
                            transition: all 0.1s ease-in-out;

                            i {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }

        .logout {
            padding-inline: 25px;
            margin-block-end: 25px;

            a {
                display: flex;
                align-items: center;
                gap: 10px;
                color: var(--surface-a);
                width: fit-content;

                &:hover {
                    cursor: pointer;
                    color: red;
                }

                i {
                    font-size: 20px;
                }
            }
        }
    }

    .admin-main {
        @include respond-to('desktop') {
            padding-block: 1.5em;
            display: grid;
            grid-template-columns: minmax(50px, 1fr) minmax(auto, 1200px) minmax(
                    50px,
                    1fr
                );
        }

        & > * {
            &.full {
                grid-column: 1/-1;
            }

            &:not(.full) {
                grid-column: 2;
            }
        }
    }
}
