.footer-host {
    height: 60px;
    background-color: $footer-background-color;

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $footer-text-color;
    }
}
