.orders-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .name-page {
        display: flex;
        flex-direction: column;
        gap: 0.4em;
        margin-block-end: 1em;
    }

    .btn-container {
        padding: 0.8em;
        background-color: #616161;
    }

    .p-table {
        border-collapse: collapse;

        tr {
            border-collapse: collapse;

            &:nth-child(even) {
                background-color: #7e7e7e;
                color: $text-color;
            }

            &:nth-child(odd) {
                background-color: #646464;
                color: $text-color;
            }

            th {
                height: 60px;
                padding-inline: 1em;
                background-color: $primary-color;
                color: $text-color;
                border: 1px solid #ffffff98;
                border-collapse: collapse;

                &:nth-child(5) {
                    width: 120px;
                }

                .p-element {
                    svg {
                        path {
                            fill: whitesmoke;
                        }
                    }
                }
            }

            td {
                height: 50px;
                padding-inline: 1em;
                border: 1px solid rgba(255, 255, 255, 0.445);
                border-collapse: collapse;

                &:nth-child(5) {
                    display: flex;
                    align-items: center;
                    gap: 0.6em;
                    width: 120px;

                    .p-element {
                        .p-button {
                            &.p-button-trash {
                                height: 35px;
                                background-color: $backgroundColorDark;
                                border-color: $backgroundColorDark;

                                &:hover {
                                    background-color: #6b6b6b;
                                    border-color: #6b6b6b;
                                }
                            }

                            &.p-button-details {
                                height: 35px;
                                background-color: #e31225;
                                border-color: #e31225;

                                &:hover {
                                    background-color: $primary-color-dark;
                                    border-color: $primary-color-dark;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.loader-container {
    width: 100%;
    display: flex;
    place-content: center;

    p {
        margin-block-start: 5em;
        i {
            font-size: 50px;
        }
    }
}

// Confirm Modal
.p-element {
    .confirm-modal {
        color: whitesmoke;
        background-color: $backgroundColorDark;

        .icon {
            background-color: $primary-color-dark;
        }

        button {
            border: none;
            border-radius: unset;
            height: 30px;
            color: $text-color;

            &:nth-child(1) {
                background-color: $primary-color;
                font-weight: bolder;
            }
            &:nth-child(2) {
                background-color: $backgroundColorDark3;
            }
        }
    }
}
