.products-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .name-page {
        display: flex;
        flex-direction: column;
        gap: 0.4em;
        margin-block-end: 1em;
    }

    .btn-container {
        padding: 0.8em;
        background-color: #616161;

        .btn-create-edit-product {
            align-self: flex-start;
            background-color: $primary-color;
            border: none;
            height: 35px;
            padding-inline: 0.5em;
            display: flex;
            gap: 0.8em;
            place-content: center;
            place-items: center;
            color: $text-color;
            font-weight: bolder;

            &:hover {
                background-color: $primary-color-dark;
                cursor: pointer;
            }
        }
    }

    .p-table {
        display: none;

        @include respond-to('desktop') {
            display: block;
            border-collapse: collapse;
        }

        tr {
            border-collapse: collapse;

            &:nth-child(even) {
                background-color: #7e7e7e;
                color: $text-color;
            }

            &:nth-child(odd) {
                background-color: #646464;
                color: $text-color;
            }

            th {
                height: 60px;
                padding-inline: 1em;
                background-color: $primary-color;
                color: $text-color;
                border: 1px solid #ffffff98;
                border-collapse: collapse;
                width: fit-content;

                &:nth-child(7) {
                    width: 120px;
                }

                .p-element {
                    svg {
                        path {
                            fill: whitesmoke;
                        }
                    }
                }
            }

            td {
                padding-inline: 1em;
                border: 1px solid rgba(255, 255, 255, 0.445);
                border-collapse: collapse;
                width: fit-content;

                img {
                    width: 50px;
                    height: 50px;
                    aspect-ratio: 1/1;
                    border-radius: 5px;
                    margin-block-start: 5px;
                }

                &:nth-child(7) {
                    display: flex;
                    align-items: center;
                    gap: 0.6em;
                    width: 120px;
                    height: 67px;

                    .p-element {
                        .p-button {
                            &.p-button-trash {
                                height: 35px;
                                background-color: $backgroundColorDark;
                                border-color: $backgroundColorDark;

                                &:hover {
                                    background-color: #6b6b6b;
                                    border-color: #6b6b6b;
                                }
                            }

                            &.p-button-pencil {
                                height: 35px;
                                background-color: #e31225;
                                border-color: #e31225;

                                &:hover {
                                    background-color: $primary-color-dark;
                                    border-color: $primary-color-dark;
                                }
                            }
                        }
                    }
                }
            }
        }

        .p-paginator {
            background-color: $backgroundColorDark2;
            border: none;

            & > * {
                color: $text-color;
            }

            .p-paginator-pages {
                button {
                    background-color: $primary-color-dark;
                    color: $text-color;
                }
            }
        }
    }

    .products-tablet-mobile {
        padding-block-start: 2em;

        .product-list {
            display: grid;
            gap: 2em;

            .product {
                background-color: $backgroundColorDark3;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 0.5em;

                .row-1 {
                    background-color: $primary-color;
                    display: flex;
                    padding-inline: 1.5em;
                    height: 35px;

                    .name-img-container {
                        display: flex;
                        flex-direction: row-reverse;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 1em;

                        h1 {
                            font-size: 18px;
                        }

                        img {
                            object-fit: cover;
                            border-radius: 5px;
                            aspect-ratio: 1/1;
                            width: 65px;
                        }
                    }
                }

                .row-2 {
                    padding: 1.5em;
                    display: flex;
                    justify-content: space-between;

                    .price-stock-container {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        justify-content: space-between;

                        .price {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5em;

                            span {
                                font-weight: 600;
                                font-size: 18px;
                            }
                        }

                        .stock {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5em;

                            span {
                                font-weight: 600;
                                font-size: 18px;
                            }
                        }
                    }

                    .category-date-container {
                        display: flex;
                        flex-direction: column;
                        gap: 1.5em;
                        justify-content: space-between;

                        .category {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5em;

                            span {
                                font-weight: 600;
                                font-size: 18px;
                            }
                        }

                        .date {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5em;

                            span {
                                font-weight: 600;
                                font-size: 18px;
                            }
                        }
                    }

                    .actions {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;

                        .btn-edit-product {
                            border: none;
                            background-color: $primary-color;
                            color: $text-color;
                            height: 35px;
                            aspect-ratio: 1/1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 4px;
                        }

                        .btn-delete-product {
                            border: none;
                            background-color: $backgroundColorDark;
                            color: $text-color;
                            height: 35px;
                            aspect-ratio: 1/1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }

        @include respond-to('desktop') {
            display: none;
        }
    }
}

.loader-container {
    width: 100%;
    display: flex;
    place-content: center;

    p {
        margin-block-start: 5em;
        i {
            font-size: 50px;
        }
    }
}

// Confirm Modal
.p-element {
    .confirm-modal {
        color: whitesmoke;
        background-color: $backgroundColorDark;

        .icon {
            background-color: $primary-color-dark;
        }

        button {
            border: none;
            border-radius: unset;
            height: 30px;
            color: $text-color;

            &:nth-child(1) {
                background-color: $primary-color;
                font-weight: bolder;
            }
            &:nth-child(2) {
                background-color: $backgroundColorDark3;
            }
        }
    }
}
