<section
    class="home-page full"
    *ngIf="categories && featuredProducts; else loader"
>
    <ngshop-hero></ngshop-hero>
    <products-categories-banner
        [categories]="categories"
    ></products-categories-banner>
    <products-featured-products
        [featuredProducts]="featuredProducts"
        (onAddProduct)="onAddProduct($event)"
    ></products-featured-products>
</section>

<p-toast position="bottom-center"></p-toast>

<ng-template #loader>
    <div class="loader">
        <i class="pi pi-spin pi-spinner"></i>
    </div>
</ng-template>
