<header class="admin-header-mobile-tablet">
    <div class="inner-container">
        <div class="logo">
            <img src="assets/logo.png" alt="logo" />
        </div>

        <nav [ngClass]="{ navOpen: isNavOpen }">
            <i>hi</i>
            <i>hi</i>
            <i>hi</i>
            <i>hi</i>
            <i>hi</i>
            <i>hi</i>
        </nav>

        <div
            class="cover"
            [ngClass]="{ coverOpen: isNavOpen }"
            (click)="isNavOpen = false"
        ></div>

        <div class="icons">
            <i class="pi pi-bars" (click)="isNavOpen = true"></i>
        </div>
    </div>
</header>
